#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: beige;
}

.title {

}
/* body {
  background-image: url("./assets/card_front.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 6px 180px;
  margin: 0 auto; 
  padding: 2rem 2rem;
  background-color: beige;
} */

.card img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
 }

.vocab{
  margin-top: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

button {
  margin-top: 1em;
  padding: 1em 1em;
  border-radius: 50%;
  border-radius: 50% 20% / 10% 40%;
}

#right-btn {
  margin-left: 1em;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
 */
